# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.cache
*.pdb
*.obj
*.log
*.ipch
*.opensdf
*.tlog
*.tmp

# Build results
bin/
obj/

# NuGet
packages/
*.nupkg

# Unit test results
TestResults/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/
